name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ethanolivertroy
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/New_York

          # Languages plugin
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_limit: 8
          plugin_languages_colors: github
          plugin_languages_sections: most-used

          # Isometric calendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
